<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <h1>this is users</h1>
  <% if(errors.length > 0 ){ %> <% errors.forEach(error=>{%>
  <ul>
    <li><%= error.msg %></li>
  </ul>
  <% })} %>
  <div>
    <form method="post" action="/user">
      <input type="text" placeholder="id" name="id" />
      <input type="text" placeholder="first_name" name="first_name" />
      <input type="text" placeholder="email" name="email" />
      <input type="text" placeholder="password" name="password" />
      <input type="submit" />
    </form>
  </div>

  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>password</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user=>{ %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td>
          <form method="post" action="/user/<%= user.id %>?method=DELETE">
            <input type="submit" value="remove" />
          </form>
          <form method="get" action="/user/<%= user.id %>">
            <input type="submit" value="update" />
          </form>
        </td>
      </tr>

      <% }) %>
    </tbody>
  </table>
  <body></body>
</html>
